/* for main bin container*/
@media only screen and (max-width: 600px) {
  .bin-container {
    transform: scale(0.7);
  }
}

.bin-container {
  margin-top: 10%;
  align-self: center;
}

.bin-wrapper {
  position: relative;
  height: 350px;
  width: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #414141;
  overflow: hidden;
}
.top-cover {
  margin-left: 3.875rem;
  width: 125px;
  height: 15px;
  background-color: #414141;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bin-cover {
  height: 15px;
  width: 250px;
  margin-bottom: 0.2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #414141;
}
.bin-status {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #a3da8d;
}
.bin-gauge {
  position: sticky;
  text-align: center;
  margin-top: 100px;
  margin-left: 10px;
  font-size: 3.25rem;
  color: #fff;
}
/* end of bin container*/

/*for circular loading*/
.loading-bin {
  margin-top: 30px;
  margin-right: 12px;
}
